<?xml version="1.0" encoding="UTF-8"?>  
  
<configuration scan="true" scanPeriod="60 seconds">
    <!-- 控制台输出-->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">  
        <encoder>  
            <pattern>%d{yyyy-M-d HH:mm:ss}  [%X{traceRootId}] [%t] %p %c -  %m%n</pattern>
        </encoder>  
    </appender>
    <!-- 文件输出-->
    <appender name="consume"
        class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <!-- <Encoding>UTF-8</Encoding> -->  
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <FileNamePattern>logs/consume/consume-%d{yyyy-M-d}.log
            </FileNamePattern>  
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>  
        <encoder>  
            <pattern>%d{yyyy-M-d HH:mm:ss} [%X{traceRootId}] [%t] %p %c %m%n</pattern>
        </encoder>  
    </appender>  

    <!-- name包必须能够扫描到所有类，包括启动类 -->
    <logger name="com.footmark.consume" level="info" additivity="false">
         <appender-ref ref="consume" />
         <appender-ref ref="stdout" />  
    </logger>  
    <root level="info">
        <appender-ref ref="consume" />
        <appender-ref ref="stdout" />
    </root>  
</configuration>    