<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.footmark.service.dao.TestUserMapper" >

    <select id="queryUserInfo" parameterType="com.web.common.footmark.User" resultType="com.web.common.footmark.User">
        select * from user
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="name != null">
               and  name = #{name}
            </if>
        </where>
    </select>

    <insert id="saveUserInfo" parameterType="java.util.List">
        insert into user (id,name)
        values
        <foreach collection="list" item="item"  separator="," >
            (#{item.id},#{item.name})
        </foreach>


    </insert>
</mapper>